<h2>会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<ul>
<li class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </li>

  <li class="field">
    <%= f.label :"パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name), class:'pull-right' %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

</ul>

<h2>登録がお済みでない方</h2>
<%= link_to "こちら" ,new_end_user_registration_path %>　から新規登録してください。



