<h3>登録情報編集</h3>


<%= form_for(current_end_user) do |f| %>

<div class="field">
<%= f.label :"名前" %>
(姓)<%= f.text_field :family_name %>
(名)<%= f.text_field :first_name %>
</div>

<div class="field">
<%= f.label :"フリガナ" %>
(セイ)<%= f.text_field :family_name_kana %>
(メイ)<%= f.text_field :first_name_kana %>
</div>

<div class="field">
<%= f.label :"メールアドレス" %>
<%= f.email_field :email, autocomplete: "email" %>
</div>

<div class="field">
<%= f.label :"郵便番号(ハイフンなし)" %>
<%= f.text_field :zip_code %>
</div>

<div class="field">
<%= f.label :"住所" %>
<%= f.text_field :address %>
<div class="field">

<div class="field">
<%= f.label :"電話番号(ハイフンなし)" %>
<%= f.text_field :phone_number %>
</div>


<%= f.submit "編集内容を保存する", class: "btn-sm btn-success " %>　

<%= link_to "退会する", check_path, class: " btn-sm btn-danger "%>

<% end %>

