<div class="container">
	<div class="row">
		<h1>注文詳細画面</h1>

		<h3>購入者</h3>
		<h3>

			<%= link_to @order.end_user.family_name + @order.end_user.first_name, admin_end_user_path(@order.end_user.id) %>

		</h3>

		<h3>配送先</h3>
		<h3><%= @order.zip_code %> <%= @order.address %><br>
			<%= @order.name %>
		</h3>

		<h3>支払方法</h3>
		<h3><%= @order.payment_method %></h3>

		<h3>注文ステータス</h3>
		<%= form_for(@order, url: admin_order_path) do |f| %>
		<%= f.select :order_status, [["入金待ち", :waiting_payment],["入金確認",:payment_confirmation],["製作中",:in_production],["発送準備中",:preparing_shipment],["発送済み",:already_shipped]] %>
		<%= f.submit "更新", class:"btn btn-primary btn-block" %>
		<% end %>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
					<th>制作ステータス</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% sum = 0 %>
				<% @order.order_products.each do |order| %>
				<tr>
					<td><%= order.product.name %></td>
					<td><%= order.price  * 1.1 .round%></td>
					<td><%= order.quantity %></td>
						<% sub_total = order.price * 1.1 .round * order.quantity %>
						<% sum += sub_total %>
					<td><%= sub_total %></td>
					<td>
						<%= form_with model: order, url: admin_order_product_path, local: true do |f| %>
						<%= f.select :production_status, [["着手不可", :cannot_start],["制作待ち",:waiting_production],["製作中",:in_production],["製作完了",:completed_production]] %>
						<%= f.hidden_field :order_id, :value => order.id %>
						<%= f.submit "更新", class:"btn btn-primary btn-block" %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<h3>商品合計  <%= sum %>円</h3>
		<h3>送料  800円</h3>
		<h3>請求金額合計  <%= sum  + 800  %>円</h3>
	</div>
</div>









