<div class="container">
	<div class="row">
		<h1>注文詳細画面</h1>

		<h3>購入者</h3>
		<h3>
			<% link_to admin_end_user(@order.end_user_id) do %>
			<%= @order.end_user.family_name + @order.end_user.family_name %>
			<% end %>
		</h3>

		<h3>配送先</h3>
		<h3><%= @order.zip_code %> <%= @order.address %><br>
			<%= @order.name %>
		</h3>

		<h3>支払方法</h3>
		<h3><%= @order.payment_method %></h3>

		<h3>注文ステータス</h3>
		<%= form_for @order, url: admin_update_path) do |f| %>
			
		<% end %>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
					<th>制作ステータス</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% sum = 0 %>
				<% @order.order_products.each do |order| %>
				<tr>
					<td><%= order.product.name %></td>
					<td><%= order.price  * 1.1 %></td>
					<td><%= order.quantity %></td>
						<% sub_total = order.price * 1.1 * order.quantity %>
						<% sum += sub_total %>
					<td><%= sub_total %></td>
					<td>
						<%= form_for @order, url: admin_production_update_path) do |f| %>
					　		
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>

		<h3>商品合計  <%= sum %>円</h3>
		<h3>送料  800円</h3>
		<h3>請求金額合計  <%= sum + 800 %>円</h3>
	</div>
</div>









