<!-- <h2>Log in</h2> -->
<%= notice %>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>
        <tr>
          <div class="field">
          <th><%= f.label :email, "メールアドレス" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
          <th><%= f.label :password, "パスワード" %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </div>
        </tr>
     </table>

     <div class="actions">
       <%= f.submit "ログイン", class:"btn btn-info" %>
     </div>

     <% end %>
   
    </div>
  </div>
</div>