<h1>ショッピングカート</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% sum = 0 %>
			<% @end_user.cart_products.each do |cart_product|%>
				<tr>
					<td><%= attachment_image_tag cart_product.product, :image, :fill, 100, 100, format: "jpeg" %><%= cart_product.product.name %></td>
					<td><%= cart_product.product.price %></td>
						<td><%= form_for(cart_product) do |f| %>
							<% if cart_product.errors.any? %>
								<div class="alert alert-danger">
									<h2><%= cart_product.errors.count %>error prohibited this obj from being saved:</h2>
									<ul>
										<% cart_product.errors.full_messages.each do |message| %>
											<li><%= message %></li>
										<% end %>
									</ul>
								</div>
							<% end %>
							<%= f.text_field :quantity %>
							<%= f.submit "変更", class:"btn btn-primary" %>
						<% end %></td>
						<% sub_total = cart_product.product.price * cart_product.quantity %>
						<% sum += sub_total %>
					<td><%= sub_total %></td>
					<td><%= link_to "削除する", cart_product_path(cart_product), method: :delete %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "買い物を続ける", products_path %>
	<p>合計金額 <%= sum %></p>
	<%= link_to "情報入力に進む",input_path, class:"btn btn-primary" %>