<div class="container">
	<div class="row">
    <h1><strong>商品編集画面<strong></h1><br>

	  <%= form_for(@product, url: admin_product_path) do |f| %>
		<% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= @product.errors.count %>件のエラーが発生しました。</h2>
        <ul>
           <% @product.errors.full_messages.each do |message| %>
           <li><%= message %></li>
           <% end %>
        </ul>
       </div>
    <% end %>
      <div class="col-xs-10 col-xs-offset-2">
        <div class="col-xs-4">
        <%= attachment_image_tag @product, :image, :fill, 200, 200, format: "jpeg" %>
		    <%= f.attachment_field :image %>
		    </div>
		    <div class="col-xs-6">
		    <table>
		    	<tr>
		    		<th>商品名</th>
		    		<td><%= f.text_field :name %></td>
		    	</tr>
		    	<tr>
		    	  <th>商品説明</th>
		        <td><%= f.text_area :description %></td>
		      </tr>
		      <tr>
		      	<th>ジャンル</th>
		      	<td>
		      		<%= f.collection_select :genre_id, Genre.all, :id, :name %>
		        </td>
		      </tr>
		      <tr>
		      	<th>税抜価格</th>
		      	<td><%= f.text_field :price %>円</td>
		      </tr>
		      <tr>
		        <th>販売ステータス</th>
		        <td>
		          <%= f.select :is_soldout, [["売切れ", true], ["販売中",false]] %>
		        </td>
		      </tr>
		    </table>
		    </div>
		    <div class="row">
	        <div class="col-xs-2 col-xs-offset-10">
		        <%= f.submit "変更を保存", class:"btn btn-info" %>
		      </div>
		    </div>
	  <% end %>
	      </div>
  </div>
</div>
