<div class="container">
	<div class="row">

		<div class="col-xs-3">
			<%= render 'admin/genres/search', genres: @genres %>
		</div>
		<div class="col-xs-9">
					<% if params[:id] %>
					<h1><%= @genre.name %>一覧</h1>
					<% else %>
					<h1> 商品一覧 </h1>
					<% end %>

				<h2>全<%= @products.count %> 件</h2>

					<% @products.each do |product| %>
						<%= attachment_image_tag(product, :image, :fill, 50, 50) %>
						<h3><%= product.name %></h3>
						<h3>¥<%= product.price * 1.1 %></h3>
					<% end %>
		</div>
	</div>
</div>
