<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <% if current_user != end_user %>
      <!-- admin　navibar -->
      <% if admin_signed_in? %>
      <ul>
        <li><%= link_to "商品一覧",admin_products_path %></li>
        <li><%= link_to "会員一覧",admin_end_users_path %></li>
        <li><%= link_to "注文履歴一覧",admin_orders_path %></li>
        <li><%= link_to "ジャンル管理一覧",admin_genre %></li>
        <li><%= link_to "ログアウト",destroy_admin_session, method: :delete %></li>
      </ul>
      <% else %>
        <li><%= link_to "ログイン",new_admin_session %></li>
      <% end %>
    <% else %>
      <% if end_user_signed_in? %>
       <ul>
        <li><%= link_to "マイページ", %></li>
        <li><%= link_to "商品一覧", %></li>
        <li><%= link_to "カート", %></li>
        <li><%= link_to "ログアウト",, method: :delete %></li>
      </ul>
      <% else %>
      <ul>
        <li><%= link_to "商品一覧", %></li>
        <li><%= link_to "新規登録", %></li>
        <li><%= link_to "ログアウト",, method: :delete %></li>
      </ul>
      <% end %>
    <% end %>
  </header>
r
  <body>
    <%= yield %>
  </body>
</html>

